<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--List of elements-->
    {% for i in movies %}
        <h1>{{ i }}</h1>
    {% empty %}
        <h1>NO movies</h1>
    {% endfor %}
    <a href="{% url 'myapp:add' %}">Add movie</a>
    <div>
        <a href="{% url 'myapp:random' %}">generator</a>
    </div>
</body>
</html>